*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100vw;
    max-width: 100vw;
}

body {
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    padding: .5em 576px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 1em;
    position: sticky;
}

.header h1 {
    font-size: 1.5em;
}

.header nav {
    display: flex;
    column-gap: 1em;
}

.header nav a,
.header a {
    color: #000;
    text-decoration: none;
}

.header nav a:hover,
.header a:hover {
    color: #000;
    text-decoration: underline;
}

/* <========== MAIN CONTENT ==========> */

main {
    height: 100%;
    width: 100vw;
    border-radius: 1em;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 1em;
    height: min-content;
    margin-bottom: 2em;
}

.main-content img {
    width: 420px;
    height: auto;
    border-radius: 1em;
    object-fit: cover;
    box-shadow: -2px 4px 5px #aaa;
}

.main-content .text {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 4em; */
    row-gap: 1em;
}

.main-content h1 {
    font-size: 2em;
}

.main-content span {
    color: teal;
    font: 1em sans-serif;
}

.main-content p {
    font-size: 1.2em;
    text-align: justify;
}

.education-section {
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    > .education-card {
        padding-left: 2em;
        display: flex;
        align-items: center;
        column-gap: 1em;
    
        img {
            width: 150px;
            height: auto;
            border-radius: 1em;
        }

        > .text {
            display: flex;
            flex-direction: column;
            row-gap: .5em;
        }

    }
}

.experience-section {
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    > .experience-card {
        padding-left: 2em;
        display: flex;
        align-items: center;
        column-gap: 1em;

        img {
            width: 150px;
            height: auto;
            border-radius: 1em;
        }

        > .text {
            display: flex;
            flex-direction: column;
            row-gap: .5em;
        }

        > .date {
            color: teal;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}


/* <========== RESPONSIVE DESIGN ==========> */

@media screen and (max-width: 1366px) {
    .container {
        padding: .5em 336px;
    }

    .main-content img {
        width: 230px;
        height: auto;
        border-radius: 1em;
        object-fit: cover;
        box-shadow: -5px 5px 10px #aaa;
    }
}